* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgb(77, 77, 77);
}

#main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid black;
}

.pad-container {
  width: 100%;
  height: 100%;
  border: 2px solid black;
}

.top, .bottom {
  display: flex;
  height: 100%;
  width: 100%;
}

.pad {
  flex: 2;
  width: 100%;
  height: 100%;
  transition: all .25s;
}

.top-left {
  border-top-left-radius: 100%;
  background-color: #52B762;
}

.top-right {
  border-top-right-radius: 100%;
  background-color: #BE3435;
}

.bottom-left {
  border-bottom-left-radius: 100%;
  background-color: #D4D141;
}

.bottom-right {
  border-bottom-right-radius: 100%;
  background-color: #007ED0;
}

.top-left .active {
  background: #74e787;
  filter: drop-shadow(0 0 0.65rem #74e787);
}

.top-right .active {
  background-color: #ff6565;
  filter: drop-shadow(0 0 0.65rem #ff6565);
}

.bottom-left .active {
  background-color: #faf765;
  filter: drop-shadow(0 0 0.65rem #faf765);
}

.bottom-right .active {
  background-color: #38affd;
  filter: drop-shadow(0 0 0.65rem #38affd);
}

.inner-circle {
  /* z-index: 1; */
  cursor: default;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
  color: silver;
  font-family: monospace;
}